﻿﻿<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <link rel="stylesheet" type="text/css" href="css/ionic.css">
    <link rel="stylesheet" type="text/css" href="css/loading.css">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/57_57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon-72-hdpi.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/114_114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/144_144.png" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
	<style>
		.small_button{
			margin-top : 10px;
			max-height: 20px !important;
		}
		.popover {
		  height: auto !important;
		  
		  
		}
		.popover ion-header-bar {
		  position: relative;
		  
		}
		.popover .has-header {
			top: 0 !important;
		}
		.popover ion-content {
		  top: 0;
		  position: relative;
		  
		}
		.popover-inner-content {
			
		  width: 100%;
		  padding: 5px 20px;
		}
		.type {
			background: url(images/Economy2.png);
			background-size: 100%;
			background-color:transparent;
			margin-left:20%;
			border:none;
			width: 170px;
			height: 98px;

			

		}

		
		.type2 {
			background: url(images/Sedan2.png);
			background-size: 100%;
			background-color:transparent;
			margin-left:20%;
			border:none;
			width: 170px;
			height: 98px;

			

		}

		
		.type3  {
			background: url(images/Family2.png);
			background-size: 100%;
			background-color:transparent;
			margin-left:20%;
			border:none;
			width: 170px;
			height: 98px;

			

		}

		

		
	</style>
    <script src="scripts/ionic.bundle.js"></script>
    <script src="scripts/jquery-2.2.3.js"></script>
    <script type="text/javascript">
		angular.module('ionicApp', ['ionic'])

		.controller('AppCtrl', function($scope, $ionicPopover) {
		
			$scope.animation = 'slide-in-up';
			
			$scope.openPopover = function($event, templateName) {
				// Init popover on load
				$ionicPopover.fromTemplateUrl('templates/'+ templateName, {
					scope: $scope,
					animation: $scope.animation
				}).then(function(popover) {
					$scope.popover = popover;
					$scope.popover.show($event);
				});
			};

			$scope.closePopover = function() {
				$scope.popover.hide();
			};
			
		   $scope.$on('$destroy', function() {
			  $scope.popover.remove();
		   });
		});    
        $(document).on({
            ajaxStart: function () { $('.modal').show(); },
            ajaxStop: function () { $('.modal').hide(); }
        });
        
        $(document).ready(function () {
            console.log(localStorage.getItem("CustID"));
            if (localStorage.getItem("CustID") == null) {
                window.location.replace("index.html");
                thisFunctionDoesNotExistAndWasCreatedWithTheOnlyPurposeOfStopJavascriptExecutionOfAllTypesIncludingCatchAndAnyArbitraryWeirdScenario();
            }
            
	var dataString = "CustID=" + localStorage.getItem("CustID") + "&getCustID=";
	$.ajax({
		type: "POST",
		url: "http://www.quickc.co/htdocs/GetIncompleteTransaction.php",
		data: dataString,
		crossDomain: true,
		cache: false,
		beforeSend: function () { console.log("Sending"); }, //Doesnt work
		success: function (data) {					
			if (data.length > 4){
				localStorage.setItem("data", data);
				window.location.replace("ConfirmTransaction.html");
			}		
		}
		});

            $(".button").click(function () {
                
                if ($(this).val() == "Logout") {
                    localStorage.clear();
                    window.location.replace("index.html");
                }
                var cartype = $(this).val();
                localStorage.setItem("getCarType", cartype);
                if ($.trim(cartype).length > 0 & cartype != "Logout") {
                    window.location.replace("Duration.html");
                }
            });

        });
    </script>
</head>
<body ng-controller="AppCtrl" >	
    <div class="bar bar-header bar-royal" style="margin-bottom:80px;">
        <h1 class="title">Choose a car type to rent.</h1>
        <input type="button" class="button button-clear" value="Logout" /><!--  go to login html and go to php file to destroy session, fix it.-->
    </div><br /><br />
    <div class="list">
		<div class="item"> 
			<div class="row"> 	
					<button class='button type' value="Small & Economy" > </button>						
					<button class='button button-stable	small_button' ng-click="openPopover($event,'smallinfo.html')"><i class="icon ion-information"></i></button>				
			</div>
		</div>
		<div class="item"> 
			<div class="row"> 
					<button class='button type2' value="Sedan" > </button>	
					<button class='button button-stable small_button' ng-click="openPopover($event,'sedaninfo.html')"><i class="icon ion-information"></i></button>
			</div>
		</div>
		
		<div class="item"> 
			<div class="row"> 
					<button class='button type3' value="Family" > </button>
					<button class='button button-stable small_button' ng-click="openPopover($event,'familyinfo.html')"><i class="icon ion-information"></i></button>				
			</div>	
		</div>		

    </div>
	<script id="templates/smallinfo.html" type="text/ng-template">
      <ion-popover-view>
		<ion-header-bar>
			<h1 class="title">Cars available here</h1>
		</ion-header-bar>
		<ion-content scroll="false" class="padding">
		  <div class="popover-inner-content">
			 <ul>
			  <li>Perodua Myvi</li>
			  <li>Perodua Axia</li>
			</ul> 
		  </div>
		</ion-content>
	</ion-popover-view>
    </script>
	
	<script id="templates/sedaninfo.html" type="text/ng-template">
      <ion-popover-view style="	max-height: 45%; overflow: scroll;">
		<ion-header-bar>
			<h1 class="title">Cars available here</h1>
		</ion-header-bar>
		<ion-content scroll="false" class="padding">
		  <div class="popover-inner-content">
			 <ul>
			  <li>Proton Saga</li>
			  <li>Proton Persona</li>
			  <li>Toyota Vios</li>
			  <li>Honda City</li>
			  <li>Toyota Camry</li>		  
			</ul> 
		  </div>
		</ion-content>
	</ion-popover-view>
    </script>
	
	<script id="templates/familyinfo.html" type="text/ng-template">
      <ion-popover-view >
		<ion-header-bar>
			<h1 class="title">Cars available here</h1>
		</ion-header-bar>
		<ion-content scroll="false" class="padding">
		  <div class="popover-inner-content">
			 <ul>
			  <li>Proton Alza</li>
			  <li>Proton Exora</li>
			</ul> 
		  </div>
		</ion-content>
	</ion-popover-view>
    </script>
	
    <div class="modal"><!-- For loading --></div>
</body>
</html>