﻿<!DOCTYPE html>
<html ng-app="ionicApp">
<head>
    <link rel="stylesheet" type="text/css" href="css/ionic.css">
    <link rel="stylesheet" type="text/css" href="css/loading.css">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="images/57_57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icon-72-hdpi.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/114_114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/144_144.png" />
    <style>

	a:link:nth-child(1)
	{
		position: absolute;
		left: 10%;
		color:white;

	}
	a:link:nth-child(2)
	{
		color:white;
		position:absolute;
		left: 80%;
	}	
    
    </style>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <script src="scripts/ionic.bundle.js"></script>
    <script src="scripts/jquery-2.2.3.js"></script>
    <script type="text/javascript">
	
angular.module('ionicApp', ['ionic'])

.controller('AppCtrl', function($scope, $ionicModal) {
  
			$scope.openModal = function($event, templateName) {
				// Init popover on load
			  $ionicModal.fromTemplateUrl('templates/'+ templateName, {
				scope: $scope
			  }).then(function(modal) {
				$scope.modal = modal;
				$scope.modal.show();
			  });
			};


  


});
	
	
	
    	$(document).on({
            ajaxStart: function () { $('.modal').show(); },
            ajaxStop: function () { $('.modal').hide(); }
        });

	$(document).ready(function()
	{

            
	    if (localStorage.getItem("CustID") != null) {
	        window.location.replace("CusChoosecar.html");
	    }

	    $(".button").click(function () {
	        var cust_id = $("#cust_id").val();
	        var cust_name = $("#cust_name").val();
	        var dataString = "cust_id=" + cust_id + "&cust_name=" + cust_name + "&login=";
	        console.log(dataString);

	        if ($.trim(cust_id).length > 9 & $.trim(cust_name).length > 0) {
	            $.ajax({
	                type: "POST",
	                url: "http://www.quickc.co/htdocs/Login.php",
	                data: dataString,
	                crossDomain: true,
	                cache: false,
	                beforeSend: function () { console.log("Sending"); }, /*Doesnt work*/
	                success: function (data) {
	                    if (data == "Existing" || data == "New") { /*Data  came back as json format from the select statement in php file. Change this soon*/
	                        localStorage.setItem("CustID", cust_id); // Session for the User
	                        window.location.replace("CusChoosecar.html");
	                    }
	                }
	            });
	        }
	        else {
	            alert("Dude! Phone number and Name please. ");
	        }

	    });


	});
    </script> 
</head>
<body ng-controller="AppCtrl">
    <div class="bar bar-header bar-royal" style="margin-bottom:80px;">
        <h1 class="title">Login page</h1>
    </div><br /><br />
    <div class="list">
        <label class="item item-input">
            <span class="input-label">Enter Phone Number</span>
            <input type="tel" id="cust_id" value="">
        </label>
        <label class="item item-input">
            <span class="input-label">Enter Name</span>
            <input type="text" id="cust_name" value="">
        </label>
        <div class="item">
            <input type="button" class="button button-block" value="Login" />
        </div>
    </div>
	<div class="bar bar-footer bar-royal">

	   <a href="" style="color: rgb(255,255,255)" ng-click="openModal($event,'T&C.html')" >Terms and condition</a> 
	   <a href="" style="color: rgb(255,255,255)" ng-click="openModal($event,'ContactUs.html')">Contact us</a>  
	</div>
	
    <script id="templates/T&C.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-royal">
          <h1 class="title">Terms and Condition</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
			
        </ion-content>
      </ion-modal-view>
    </script>
	
	<script id="templates/ContactUs.html" type="text/ng-template">
      <ion-modal-view>
        <ion-header-bar class="bar bar-header bar-royal">
          <h1 class="title">Contact Us</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
			<h2>quickc email</h2>
			<p>quickc number</p>

        </ion-content>
      </ion-modal-view>
    </script>
	
	
    <div class="modal2"><!-- For loading --></div>
	
</body>
</html>