﻿html, body 
{
	margin: 0; 
	height: 100%; 
	overflow: hidden；
}

h1 {
	font-family: "Trebuchet MS";
	font-size: 70px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	margin-top: 45px;
	margin-left: 30px;
	line-height: 5%;
}

h2 {
	font-family: "Trebuchet MS";
	font-size: 32px;
	text-align: left;
	font-weight: bold;
	color: #000000;
	margin-left: 30px;
	line-height: 1%;
}

h3 {
	font-family: "Trebuchet MS";
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	line-height: 57%;
	margin-top: 1px;
	margin-left: 30px;
}

h4 {
	font-family: "Trebuchet MS";
	font-size: 40px;
	font-weight: bold;
	color: #000000;
	margin-top: -20px;
	margin-bottom: 70px;
	line-height: 5%;
	position: relative;
	text-align:center;
}

.line1 {
	background: linear-gradient(to right, #808080, #000000);
	width: 700px;
	height: 7px;
	position: absolute; 
	left: 650px;
	top: 40px;
}

.line2 {
	background: linear-gradient(to right, #808080, #000000);
	width: 700px;
	height: 4px;
	position: absolute; 
	left: 650px;
	top: 100px;
}

.line3 {
	background: linear-gradient(to right, #808080, #000000);
	width: 700px;
	height: 4px;
	position: absolute; 
	left: 650px;
	top: 106px;
}

button{
	border: none;
	background-color: #FBFCFC;
	color: black;
	padding: 15px 27px;
	text-align: center;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
}

.buttonEvent {
	position: absolute;
	left: 675px;
	top: 47px;
}

.buttonMyEvent {
	position: absolute;
	left: 815px;
	top: 47px;
}

.buttonCreateEvent {
	position: absolute;
	left: 990px;
	top: 47px;
}

.buttonLogOut {
	position: absolute;
	left: 1190px;
	top: 47px;
}

.font1{
	font-family: Bitter;
	font-size: 18px;
	font-weight: bold;
}

.container{
	width: 600px;
	height: 425px;
	background-color: #EAEDED;
	text-align : center;
	border-radius: 8px;
	margin-top: -30px;
	margin-left: -150px;
	position: relative;
	left:40%;
}

.button1 {
	background-color: white;  
	border: 2px solid #76D7C4;
	color: black;
	padding: 10px 24px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 0px 2px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
} 

.buttonEvent:hover {
	background-color: #808080;
	color: white;
}

.buttonMyEvent:hover {
	background-color: #808080;
	color: white;
}

.buttonCreateEvent:hover {
	background-color: #808080;
	color: white;
}

.buttonLogOut:hover {
	background-color: #808080;
	color: white;
}



a:link {
	color:#000000;
	text-decoration: none;
}

a:visited {
	color:#000000;
	text-decoration: none;
}

a:hover {
	color:#000000;	
	text-decoration: none;
}

a:active {
	color:#000000;
	text-decoration: none;
}

body{
	background: linear-gradient(to bottom, #FFFFFF, #FAD7A0, #808080, #000000);
	height: 100vh;
	overflow: hidden;
		}