html, body 
{
	margin: 0; 
	height: 100%; 
	overflow: hidden;	
}

h1 {
	font-family: "Trebuchet MS";
	font-size: 70px;
	font-weight: bold;
	color: #000000;
	margin-top: 80px;
	line-height: 5%;
	position: relative;
	left:41%;
}

h2 {
	font-family: "Trebuchet MS";
	font-size: 32px;
	font-weight: bold;
	color: #000000;
	line-height: 1%;
	position: relative;
	left:41%;
}

h3 {
	font-family: "Trebuchet MS";
	font-size: 60px;
	font-weight: bold;
	color: #000000;
	line-height: 57%;
	margin-top: 1px;
	position: relative;
	left:41%;
}

body{
	background: #466368;
	background: linear-gradient(to bottom, #FFFFFF, #FAD7A0, #808080, #000000);
	height: 100vh;
}		

.container{
	width: 300px;
	height: 320px;
	background-color: #EAEDED;
	text-align : center;
	border-radius: 8px;
	margin-top:-30px;
	
}

.font1{
	font-size: 22px;
	font-family: "Verdana", Times, serif;

}
.button1 {
	background-color: white;  
	border: 2px solid #76D7C4;
	color: black;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 8px;
	margin-top: 0px;
	padding: 10px 25px;
	
}

input{
	text-align: center;
	border-radius: 10px;
	height:20px;
}

.button1:hover {
	background-color: #76D7C4;
	font-size: 16px;
	color:white;
}