h1 {
	font-family: "Trebuchet MS";
	font-size: 70px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	margin-top: 45px;
	margin-left: 30px;
	line-height: 5%;
}

h2 {
	font-family: "Trebuchet MS";
	font-size: 32px;
	text-align: left;
	font-weight: bold;
	color: #000000;
	margin-left: 30px;
	line-height: 1%;
}

h3 {
	font-family: "Trebuchet MS";
	font-size: 60px;
	font-weight: bold;
	text-align: left;
	color: #000000;
	line-height: 57%;
	margin-top: 1px;
	margin-left: 30px;
}

h4{
	font-family: "Trebuchet MS";
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	
}

h5 {
	font-family: "Trebuchet MS";
	font-size: 30px;
	font-weight: bold;
	text-align: left;
	margin-top: 10px;
	margin-bottom: 10px;
	color: #000000;
	
}

h6 {
	font-family: "Trebuchet MS";
	font-size: 40px;
	font-weight: bold;
	color: #000000;
	margin-top: -20px;
	margin-bottom: 70px;
	line-height: 5%;
	position: relative;
	text-align: center;
	
}
p{
	font-family: "Trebuchet MS";
	font-size: 20px;
}

strong{
	text-decoration: underline;
	color: blue;
}

table{
	margin-bottom:50px;
}

.line1 {
	background: linear-gradient(to right, #808080, #000000);
	width: 700px;
	height: 7px;
	position: absolute; 
	left: 645px;
	top: 40px;
}

.line2 {
	background: linear-gradient(to right, #808080, #000000);
	width: 700px;
	height: 4px;
	position: absolute; 
	left: 645px;
	top: 100px;
}

.line3 {
	background: linear-gradient(to right, #808080, #000000);
	width: 700px;
	height: 4px;
	position: absolute; 
	left: 645px;
	top: 106px;
}

button{
	border: none;
	background-color: #FBFCFC;
	color: black;
	padding: 15px 25px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
}

.buttonEvent {
	position: absolute;
	left: 675px;
	top: 47px;
}

.buttonMyEvent {
	position: absolute;
	left: 815px;
	top: 47px;
}

.buttonCreateEvent {
	position: absolute;
	left: 990px;
	top: 47px;
}

.buttonLogOut {
	position: absolute;
	left: 1190px;
	top: 47px;
}

.buttonViewDetail {
	border: none;
	background-color: #2E4053;
	color: white;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	margin-left: -40px;
	margin-right: -40px;
}

.buttonViewDetail2 {
	border: none;
	background-color: #2E4053;
	color: white;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	margin-left: -40px;
	margin-right: -40px;
}

.buttonDeleteEvent {
	border: none;
	background-color: #2E4053;
	color: white;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
	position: relative;	
}

.buttonViewParticipant {
	border: none;
	background-color: #2E4053;
	color: white;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
	position: relative;	
}

.buttonViewDetail_JoinnedEvent {
	border: none;
	background-color: #2E4053;
	color: white;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	margin-left: -40px;
	margin-right: -40px;
}

.buttonViewDetail_MyEvent {
	border: none;
	background-color: #2E4053;
	color: white;
	padding: 8px 40px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-weight: bold;
	font-size: 20px;
	transition-duration: 0.6s;
	cursor: pointer;
	border-radius: 3px;
	position: relative;
	margin-left: -40px;
	margin-right: -40px;
}



.buttonEvent:hover {
	background-color: #808080;
	color: white;
}

.buttonMyEvent:hover {
	background-color: #808080;
	color: white;
}

.buttonCreateEvent:hover {
	background-color: #808080;
	color: white;
}

.buttonLogOut:hover {
	background-color: #808080;
	color: white;
}

.buttonViewDetail:hover {
	background-color: #AEB6BF;
	color: black;
}

.buttonViewDetail2:hover {
	background-color: #AEB6BF;
	color: black;
}

.buttonDeleteEvent:hover {
	background-color: #AEB6BF;
	color: black;
}

.buttonViewParticipant:hover {
	background-color: #AEB6BF;
	color: black;
}

table {
	border-collapse: collapse;
	width: 95%;
	margin-left: 50px;
	margin-top: -30px;
}

th{
	padding: 10px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	background-color: #FFFFFF;
	border-bottom: 3px solid #000000;
}

td {
	background-color: #FFFFFF;
	font-size: 20px;
	padding: 10px;
	text-align: center;
	border-bottom: 1px solid #ddd;
}

td:hover{
	background-color: #cceeff;
}

a:link {
	color:#000000;
	text-decoration: none;
}

a:visited {
	color:#000000;
	text-decoration: none;
}

a:hover {
	color:#000000;	
	text-decoration: none;
}

a:active {
	color:#000000;
	text-decoration: none;
}

body{
	background: linear-gradient(to bottom, #FFFFFF, #FAD7A0, #808080, #000000);
	height: auto;
}	

.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%; 
	height: 100%; 
	overflow: auto; 
	background-color: rgba(0,0,0,0.6); 
}

.modal-header {
	padding: 2px 16px;
	background-color: #fffec6;
	color: white;
}

.modal-content {
	background-color: #ffffff;
	margin: 15% auto; 
	padding: 20px;
	border: 1px solid #888;
	width: 80%; 
	text-align: left;
}


.close1 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close2 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}
.close3 {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
}

.close1:hover,
.close1:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.close2:hover,
.close2:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}
.close3:hover,
.close3:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}